<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>

<body>
  <ul>
    <% for (var key in urlDb) { %>
      <li>
        <% if (userId === urlDb[key].userId) { %>
          <%= urlDb[key].long %><br>
          <a href="//localhost:8080/u/<%= key %>">localhost:8080/u/<%= key %></a>
          Views: <%= urlDb[key].views %>
          <form method="GET" action="/urls/<%= key %>/update"><button class="post">update</button></form>&nbsp;
          <form method="POST" action="/urls/<%= key %>?_method=DELETE"><button class="post">delete</button></form>
        <% } %>
      </li><br>
    <% } %>
  </ul>
</body>
